*{
    margin: 0;
    padding: 0;
}

body{
    background-color: skyblue;
    font-family: sans-serif;
}

.main-countainer{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.img-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-header  img{
    width: 20%;
}

.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-header a{
    flex: 1;
    text-decoration: none;
    background: red;
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.menu-header a:hover{
    background-color: skyblue;
    color: blue;
}

.paket-countainer{
    width: 300px;
    margin: 10px;
}

.paket-countainer h4{
    color: gray;
}

.paket-countainer img {
    width: 100%;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-container{
    margin-bottom: 10px;

}

.search-container input[type="text"]{
    padding: 5px;
    margin-right: 10px;
}

.search-container input[type="submit"]{
    padding: 5px;
}

.video-container{
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.video-container iframe{
    width: 100%;
    height: auto;
}

.brand-countainer{
    width: 60%;
    top: 10%;
    left: 10%;
}

.brand-countainer img{
    width: 60%;
}

.brand-countainer h1{
    color: white;
    font-size: 3.5vw;
    text-shadow: 2px 2px 8px #000;
    font-family: "kanit", sans-serif;
    font-weight: bold;
    font-style: normal;

}

.brand-countainer h2{
    color: white;
    font-size: 2.5vw;
    text-shadow: 2px 2px 8px;
}

.img-header{
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.brand-countainer{
    width: 60%;
    position: absolute;
    top: 10%;
    left: 10%;
}